appdirs
bleach
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
Jinja2
jsonschema
jupyter-client
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
tqdm
